#response_viewer {
  grid-area: response_viewer;
  padding: 12px;
  overflow: auto;
}

.response-body {
  margin: 0;
  padding: 8px;
  background-color: var(--primary-color-3);
  border-radius: 6px;
  border: 1px solid var(--primary-color-6);
  color: var(--secondary-color-4);
  font-size: small;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
  max-height: 100%;
}

.response-empty {
  color: var(--secondary-color-5);
  padding: 24px;
  text-align: center;
}
