#request_editor {
  grid-area: request_editor;
  padding: 12px;
  overflow-y: auto;
}

.editor-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}

.editor-label {
  font-size: small;
  color: var(--secondary-color-5);
}

.editor-empty {
  color: var(--secondary-color-5);
  padding: 24px;
  text-align: center;
}
