#layout-grid {
  display: grid;
  grid-template:
    "navbar library tabbar tabbar"
    "navbar library urlbar urlbar"
    "navbar library request_editor response_viewer" 1fr
    / auto auto 1fr 1fr;
  height: 100vh;
  width: 100vw;
}
