#tabbar {
  grid-area: tabbar;
  display: grid;
  grid-template: "tabs add environments" / auto 1fr auto;
  align-items: center;
  background: var(--primary-color-3);
  border-bottom: 1px solid var(--primary-color-6);
}

.tabbar-tabs {
  grid-area: tabs;
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
  overflow-x: auto;
}

.tabbar-add {
  grid-area: add;
  display: flex;
  align-items: center;
}

.tab {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2px;
  border-right: 1px solid var(--primary-color-6);
  color: var(--secondary-color-5);
}

.tab.selected {
  background: var(--primary-color-5);
  color: var(--secondary-color-2);
  border-bottom: 2px solid var(--primary-color-7);
}
